$body-color;
#000000:$body-color;
#d4907a:$active-color
};
device-width:width{
@-ms-viewport
};
normal:font-style;
normal:font-weight;
url('../fonts/Palatino-Bold.woff2') format('woff2'), url('../fonts/Palatino-Bold.woff') format('woff'), url('../fonts/Palatino-Bold.ttf') format('truetype'), url('../fonts/Palatino-Bold.svg#Palatino-Bold') format('svg'), url('../fonts/Palatino-Bold.eot?#iefix') format('embedded-opentype'):src;
url('../fonts/Palatino-Bold.eot'):src;
'Palatino-Bold':font-family{
@font-face
};
normal:font-style;
normal:font-weight;
url('../fonts/Palatino-BoldItalic.woff2') format('woff2'), url('../fonts/Palatino-BoldItalic.woff') format('woff'), url('../fonts/Palatino-BoldItalic.ttf') format('truetype'), url('../fonts/Palatino-BoldItalic.svg#Palatino-BoldItalic') format('svg'), url('../fonts/Palatino-BoldItalic.eot?#iefix') format('embedded-opentype'):src;
url('../fonts/Palatino-BoldItalic.eot'):src;
'Palatino-BoldItalic':font-family{
@font-face
};
normal:font-style;
normal:font-weight;
url('../fonts/Palatino-Italic.woff2') format('woff2'), url('../fonts/Palatino-Italic.woff') format('woff'), url('../fonts/Palatino-Italic.ttf') format('truetype'), url('../fonts/Palatino-Italic.svg#Palatino-Italic') format('svg'), url('../fonts/Palatino-Italic.eot?#iefix') format('embedded-opentype'):src;
url('../fonts/Palatino-Italic.eot'):src;
'Palatino-Italic':font-family{
@font-face
};
normal:font-style;
normal:font-weight;
url('../fonts/Palatino-Roman.woff2') format('woff2'), url('../fonts/Palatino-Roman.woff') format('woff'), url('../fonts/Palatino-Roman.ttf') format('truetype'), url('../fonts/Palatino-Roman.svg#Palatino-Roman') format('svg'), url('../fonts/Palatino-Roman.eot?#iefix') format('embedded-opentype'):src;
url('../fonts/Palatino-Roman.eot'):src;
'Palatino-Roman':font-family{
@font-face
};
normal:font-style;
normal:font-weight;
url('../fonts/SharpSansNo1-Ultrathin.woff2') format('woff2'), url('../fonts/SharpSansNo1-Ultrathin.woff') format('woff'), url('../fonts/SharpSansNo1-Ultrathin.ttf') format('truetype'), url('../fonts/SharpSansNo1-Ultrathin.svg#SharpSansNo1-Ultrathin') format('svg'), url('../fonts/SharpSansNo1-Ultrathin.eot?#iefix') format('embedded-opentype'):src;
url('../fonts/SharpSansNo1-Ultrathin.eot'):src;
'SharpSansNo1-Ultrathin':font-family{
@font-face
};
1px 1px 1px rgba(0, 0, 0, 0.004):text-shadow;
antialiased:-moz-font-smoothing;
antialiased:-ms-font-smoothing;
antialiased:-webkit-font-smoothing{
html
};
hidden:overflow;
$body-color:background-color;
0:padding;
0:margin{
body
};
border-box:box-sizing;
border-box:-moz-box-sizing;
border-box:-webkit-box-sizing{
*
};
#d9d9d9:color;
'Palatino-Roman', Arial, Times:font-family{
h3,
p
};
1px:letter-spacing{
.circle
/* NAVIGATION CSS - START */
}
}
};
scale(1.05):transform;
scale(1.05):-moz-transform;
scale(1.05):-ms-transform;
scale(1.05):-webkit-transform{
.nav-close-btn:hover
};
transform 1s ease-out:transition;
-moz-transform 1s ease-out:-moz-transition;
-ms-transform 1s ease-out:-ms-transition;
-webkit-transform 1s ease-out:-webkit-transition;
35px:min-height;
35px:min-width;
40px:max-height;
40px:max-width;
0:padding;
0:margin;
none:text-decoration;
100%:height;
3vw:width;
relative:position;
block:display{
.nav-close-btn
};
translateY(-50%):transform;
translateY(-50%):-moz-transform;
translateY(-50%):-ms-transform;
translateY(-50%):-webkit-transform;
50%:top;
auto:height;
100%:width;
absolute:position;
block:display{
.nav-open-container ;
706px:max-width;
-800px:left;
0:top;
15px:padding-left;
15px:padding-top;
100vh:height;
100vw:width;
cover:background-size;
url("../images/nav-open-bkg.png") no-repeat center:background;
absolute:position;
block:display{
.nav-open
};
1px:margin-top{
.nav-close .logo-container .hamburger-btn .line:last-child
};
1px:margin-bottom{
.nav-close .logo-container .hamburger-btn .line:first-child
};
#d9d9d9:background-color;
5px:max-height;
100%:height;
100%:width;
relative:position;
block:display{
.nav-close .logo-container .hamburger-btn .line
};
none:text-decoration;
30px:min-width;
40px:max-width;
18px:height;
3vw:width;
absolute:position;
block:display{
.nav-close .logo-container .hamburger-btn
};
scale(1.05):transform;
scale(1.05):-moz-transform;
scale(1.05):-ms-transform;
scale(1.05):-webkit-transform{
.nav-close .logo-container .logo:hover
};
50px:min-height;
50px:min-width;
70px:max-height;
70px:max-width;
8vh:height;
8vw:width;
0:top;
0:left;
pointer:cursor;
none:text-decoration;
relative:position;
block:display{
.nav-close .logo-container .logo
};
0:left;
0:top;
auto:height;
100%:width;
relative:position;
block:display{
.nav-close .logo-container
};
#d4907a:background-color;
78vh:height;
1px:width;
9px:left;
0:top;
absolute:position;
block:display{
.nav-close .nav-divider
};
0:left;
760px:max-height;
78%:height;
100%:width;
absolute:position;
block:display{
.nav-close ;
2:z-index;
hidden:overflow;
100%:height;
100%:width;
0:left;
0:top;
absolute:position;
block:display{
.nav-container
};
stroke 1s ease-out:transition;
stroke 1s ease-out:-moz-transition;
stroke 1s ease-out:-ms-transition;
stroke 1s ease-out:-webkit-transition;
10:stroke-miterlimit;
3:stroke-width;
#d9d9d9:stroke{
.cbt0
};
stroke 1s ease-out:transition;
stroke 1s ease-out:-moz-transition;
stroke 1s ease-out:-ms-transition;
stroke 1s ease-out:-webkit-transition;
10:stroke-miterlimit;
#d9d9d9:stroke;
none:fill{
.cbt1
};
#d4907a:stroke{
.nav-open .nav-close-btn:hover .cbt0,
.nav-open .nav-close-btn:hover .cbt1
};
30px:line-height;
none:list-style;
block:display{
.nav-open .nav-open-container ul
};
color 1s ease-out:transition;
color 1s ease-out:-moz-transition;
color 1s ease-out:-ms-transition;
color 1s ease-out:-webkit-transition;
none:text-decoration;
#d9d9d9:color;
uppercase:text-transform;
left:text-align;
'SharpSansNo1-Ultrathin', Arial, Times:font-family{
.nav-open .nav-open-container ul li a
};
transform 0.75s cubic-bezier(0, 1.05, .58, 1), -webkit-transform 0.75s cubic-bezier(0, 1.05, .58, 1):transition;
transform 0.75s cubic-bezier(0, 1.05, .58, 1):transition;
-moz-transform 0.75s cubic-bezier(0, 1.05, .58, 1):-moz-transition;
-ms-transform 0.75s cubic-bezier(0, 1.05, .58, 1):-ms-transition;
-webkit-transform 0.75s cubic-bezier(0, 1.05, .58, 1):-webkit-transition;
right:transform-origin;
right:-moz-transform-origin;
right:-ms-transform-origin;
right:-webkit-transform-origin;
#d4907a:background-color;
53px:max-height;
7px:width;
7px:right;
relative:position;
inline-block:display{
.nav-open .nav-open-container ul li a .active-item
};
visible:visibility;
scaleX(1):transform;
scaleX(1):-moz-transform;
scaleX(1):-ms-transform;
scaleX(1):-webkit-transform{
.active
};
hidden:visibility;
scaleX(0):transform;
scaleX(0):-moz-transform;
scaleX(0):-ms-transform;
scaleX(0):-webkit-transform{
.disable
};
#d4907a:color{
.nav-open .nav-open-container ul li a:hover
};
none:cursor;
none:pointer-events;
#d4907a:color{
.nav-open .nav-open-container ul li a.nav-item-active
/* NAVIGATION CSS - END */
};
#000:background-color;
1:z-index;
0:padding;
0:margin;
0:left;
0:top;
100%:height;
100%:width;
fixed:position;
block:display{
.main-container
};
none:pointer-events;
3:z-index;
0:padding;
0:margin;
0:left;
0:top;
100%:height;
100%:width;
absolute:position;
block:display{
.main-container .mask-container
};
1:z-index;
translate(-50%, -50):transform;
translate(-50%, -50%):-moz-transform;
translate(-50%, -50%):-ms-transform;
translate(-50%, -50%):-webkit-transform;
50%:left;
50%:top;
border-box:box-sizing;
absolute:position;
block:display{
.main-container .mask-container .preloader
};
0:left;
0:top;
100%:height;
100%:width;
relative:position;
block:display{
.preloader .logo-container
};
1:z-index;
'Palatino-Roman', Arial, Times:font-family;
center:text-align;
italic:font-style;
translate(-50%):transform;
translate(-50%):-moz-transform;
translate(-50%):-ms-transform;
translate(-50%):-webkit-transform;
rgba(255, 255, 255, 1):color;
65%:top;
50%:left;
auto:height;
50%:width;
absolute:position;
block:display{
.main-container .mask-container .preloader .progressbar-container
};
#fff:background-color;
1px:margin-bottom;
1px:height;
100%:width;
relative:position;
block:display{
.main-container .mask-container .preloader .progressbar-container .progressbar
};
100%:height;
100%:width{
.preloader .logo-container .preloader-logo
};
url("#SVGID_MAIN-1"):fill{
.preloader .logo-container .preloader-logo .radial-gradient-bkg .st0
};
#55494B:fill;
url("#SVGID_3_"):clip-path;
url("#SVGID_3_"):-webkit-clip-path{
.preloader .logo-container .preloader-logo .st1
};
#55494B:fill;
url("#SVGID_5_"):clip-path;
url("#SVGID_5_"):-webkit-clip-path{
.preloader .logo-container .preloader-logo .st2
};
#55494B:fill;
url("#SVGID_7_"):clip-path;
url("#SVGID_7_"):-webkit-clip-path{
.preloader .logo-container .preloader-logo .st3
};
#55494B:fill;
url("#SVGID_9_"):clip-path;
url("#SVGID_9_"):-webkit-clip-path{
.preloader .logo-container .preloader-logo .st4
};
#FFFFFF:fill{
.preloader .logo-container .preloader-logo .st5
};
90px:max-height;
90px:max-height;
10vh:height;
10vw:width;
auto:margin;
relative:position;
block:display{
.main-container .mask-container .preloader img
};
#000:background-color;
0:padding;
0:margin;
0:left;
0:top;
100%:height;
100%:width;
relative:position;
block:display{
.main-container .mask-container .mask-content
};
hidden:overflow;
1:z-index;
0:padding;
0:margin;
0:left;
0:top;
100%:height;
100%:width;
relative:position;
block:display{
.main-container .view-container
}
};
5.5vw:height{
.nav-open .nav-open-container ul li a .active-item
};
7vw:font-size{
.nav-open .nav-open-container ul li a
};
2.5vw:line-height{
.nav-open .nav-open-container ul
};
0:top;
17px:right;
absolute:position{
.nav-close .logo-container .hamburger-btn
};
none:display{
.nav-close .nav-divider
};
none:margin-bottom{
.nav-close .logo-container .logo
};
10px 10px 0:margin;
none:max-width{
.nav-close .logo-container
};
translateY(0):transform;
translateY(0):-moz-transform;
translateY(0):-ms-transform;
translateY(0):-webkit-transform;
0:top{
.nav-container .nav-close {
@media only screen and (max-width:1023px)
}
 @media only screen and (max-width:490px){
.nav-open .nav-open-container ul {
  line-height: 1em;
}

.nav-open .nav-open-container ul li a {
  font-size: 2em;
}

.nav-open .nav-open-container ul li a .active-item {
  height: 0.75em;
}
}
@media only screen and (max-width:800px) {
.main-container {
  .preloader {
    width: 279px;
    height: 248px;
  }

  .mask-container .preloader .progressbar-container {
    font-size: 10px;
  }
}
}
@media only screen and (min-width:800px) {
.main-container {
  .mask-container .preloader {
    width: 370px;
    height: 350px;
  }

  .mask-container .preloader .progressbar-container {
    font-size: 14px;
  }
}
}
@media only screen and (min-width: 1024px) {
.nav-container {
  .nav-close .logo-container {
    max-width: 70px;
    margin-left: 25px;
  }

  .nav-close .logo-container .logo {
    margin-bottom: 10px;
  }

  .nav-close .logo-container .hamburger-btn {
    position: relative;
    margin: 0 auto;
  }

  .nav-close {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .nav-close .nav-divider {
    display: block;
  }

  .nav-open .nav-open-container ul {
    line-height: 25px;
  }

  .nav-open .nav-open-container ul li a {
    font-size: 72px;
  }

  .nav-open .nav-open-container ul li a .active-item {
    height: 53px;
  }
}
}
